# discord
BOT_TOKEN=""
TEST_GUILD_ID="791018916196778034"
BOT_OWNER_ID="350897207261659137"
FOUNDERS_ROLE_ID="791020555015946281"
MANAGEMENT_ROLE_ID="1000713788779143218"
APPLICANT_ROLE_ID="791029669944229908"
BOT_ROLE_ID="791030773561688084"
ARISCORP_INTERNAL_CHANNEL_ID="1000715810274291783"

# database
# DATABASE_HOST="database" # if you use docker-compose, it should be the name of the service hosting the database
# DATABASE_PORT=5432
# DATABASE_NAME="tscord_bot"
# DATABASE_USER="tscord"
# DATABASE_PASSWORD="tscord123"

# api
# API_PORT=4000
# API_ADMIN_TOKEN="PUT_A_RANDOM_TOKEN_HERE" # you can generate one here -> https://www.uuidgenerator.net/version1 

# external services
# IMGUR_CLIENT_ID="YOUR_IMGUR_CLIENT_ID"